@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

* {
   font-size: 18px;
   font-family: 'Merienda', cursive;
   font-weight: 400;
   letter-spacing: 2px;
   line-height: 24px;
   color: #232323;
}

.searchMovies {
   background: url(../img/background/bg.jpg);
   min-height: 100%;
}

.wrapper {
   padding: 0px 25px;
   display: flex;
   flex-direction: column;
}


.inputSection {
   padding-top: 25px;
}

.searchInput {
   border: 1px solid orange;
   box-shadow: 0px 0px 5px 0px orange;
   width: 40%;
   min-width: 300px;
   min-height: 50px;
   border-radius: 10px;
   padding-left: 10px;
}

.searchInput:placeholder-shown {
   text-indent: 10px;
   justify-items: center;
}

.radioSection {
   display: flex;
   margin: 25px 0px;
}

.radioSection input[type=radio] {
   accent-color: rgba(252, 205, 118, 0.404);
}


.radioSection input[type="radio"]:checked+label {
   text-shadow: 0px 0px 5px orange;
}

.radioButton:nth-child(2) {
   margin: 0px 25px
}

.button {
   min-height: 50px;
   min-width: 200px;
   margin: 15px 0;
   box-shadow: 0px 0px 3px 0px #232323;
   background: rgba(255, 166, 0, 0.479);
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.button:hover {
   border: 1px solid orange;
   box-shadow: 0px 0px 5px 1px #232323;
}

.button:active {
   background: none;
}

.buttonText {
   margin: 0px 15px;
   text-transform: uppercase;
}

.numberPagesWrapper {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.searchResults {
   padding-top: 25px;
   display: flex;
   align-items: center;
   position: relative;
}

ul {
   padding: 0px 0px 15px;
   margin: 20px 0px;
   width: 100%;
   border-top: 1px solid orange;
   border-bottom: 1px solid orange;
}

li {
   margin-top: 30px;
}

.movieDetailsWrap {
   display: flex;
   align-items: center;
   flex-direction: column;
   background: url(../img/background/bg.jpg);
   position: absolute;
   width: 100%;
   height: 100%;
}

.movieDetails {
   margin: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

}

.btn {
   min-width: 100px;
   min-height: 30px;
   border: 1px solid orange;
   border-radius: 10px;
   margin: 15px;
   padding: 5px;
   text-align: center;
}

.active,
.btn:hover {
   background: rgba(255, 166, 0, 0.479);
   box-shadow: 0px 0px 5px 1px #232323;
}

@media (max-width: 992px) {
   .searchInput {
      width: 50%;
   }
}

@media (max-width: 768px) {
   .searchInput {
      width: 80%;
   }
}

@media (max-width: 425px) {
   * {
      font-size: 16px;
      line-height: 20px;
   }

   .inputSection {
      padding: 10px;
      display: flex;
      justify-content: center;
   }

   .radioSection {
      justify-content: center;
   }

   .radioButton:first-child {
      margin-left: 0px;
   }

   .buttonSection {
      display: flex;
      flex-direction: column;
   }
}